name: Release
on:
  push:
    branches: ["main"]
    tags:
      - "v*"
env:
  CARGO_TERM_COLOR: always
jobs:
  macos-build:
    name: MacOS build
    runs-on: macos-15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: "true"
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          target: x86_64-apple-darwin
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          target: aarch64-apple-darwin
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build ARM
        run: cargo build --release --target aarch64-apple-darwin --verbose
      - name: Build Intel
        run: cargo build --release --target x86_64-apple-darwin --verbose
      - name: Prepare artifact
        run: |
          mkdir artifacts
          cp target/aarch64-apple-darwin/release/ext-proc-load-tester artifacts/ext-proc-load-tester-aarch64-apple-darwin
          cp target/x86_64-apple-darwin/release/ext-proc-load-tester artifacts/ext-proc-load-tester-x86_64-apple-darwin
      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: macos-build-artifacts
          path: artifacts/*
  linux-build:
    name: Linux build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: "true"
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          target: x86_64-unknown-linux-musl
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
        with:
          target: aarch64-unknown-linux-musl
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: taiki-e/setup-cross-toolchain@b8d1a322a6009a2b7220f53996695778eef89b41 # v1
        with:
          target: aarch64-unknown-linux-musl
      - name: Build Intel
        run: cargo build --release --target x86_64-unknown-linux-musl --verbose
      - name: Build Arm
        run: cargo build --release --target aarch64-unknown-linux-musl --verbose
      - name: Prepare artifact
        run: |
          mkdir artifacts
          cp target/x86_64-unknown-linux-musl/release/ext-proc-load-tester artifacts/ext-proc-load-tester-x86_64-unknown-linux-musl
          cp target/aarch64-unknown-linux-musl/release/ext-proc-load-tester artifacts/ext-proc-load-tester-aarch64-unknown-linux-musl
      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: linux-build-artifacts
          path: artifacts/*

  release:
    name: Create GitHub Release
    needs:
     - macos-build
     - linux-build
    runs-on: ubuntu-latest
    permissions:
      contents: write
      discussions: write
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: macos-build-artifacts
          path: ./macos-artifacts

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: linux-build-artifacts
          path: ./linux-artifacts

      - name: Create Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          files: |
            macos-artifacts/ext-proc-load-tester-aarch64-apple-darwin
            macos-artifacts/ext-proc-load-tester-x86_64-apple-darwin
            linux-artifacts/ext-proc-load-tester-x86_64-unknown-linux-musl
            linux-artifacts/ext-proc-load-tester-aarch64-unknown-linux-musl
  build-docker:
    name: Build Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: |
            ghcr.io/bonnetn/ext-proc-load-tester
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: "true"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
        with:
          version: v0.25.0
          driver-opts: image=moby/buildkit:v0.23.2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64,linux/arm/v7
